@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


main {
    background: grey url('../img/workspace-engemon.jpg') no-repeat fixed center / cover ;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: "Syne Mono", monospace;
    font-weight: 700;
    font-size: 2.5em;
    font-style: normal;
    color: rgba(255, 255, 255, 0.774);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.456);
    margin-bottom: 20px;
}

nav {
    background-color: rgba(127, 255, 212, 0.234);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    border: 1px solid rgba(255, 255, 255, 0.073);
    border-radius: 15px;
    padding: 10px 25px;
    backdrop-filter: blur(1.9px);
}

img {
    width: 50px;
}

a,
span {
    cursor: pointer;
    font-family: "Chewy", system-ui;
    font-style: normal;
    font-weight: 600;
    color: rgba(237, 237, 237, 0.855);
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 2px;
    transition: border-color 300ms, background-color 380ms, transform 380ms, all 300ms;
    transition-timing-function: ease-in-out;
}

a:hover, span:hover {
    background-color: rgba(87, 32, 205, 0.175);
    color: white;
    border-color: rgba(43, 16, 67, 0.171);
    box-shadow: 0px 0px 9px 2px rgba(255, 255, 255, 0.197);
    transform: scale(1.1);
}

.modal {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.871);
    padding: 3px 15px;
    border-radius: 12px;
}

.modal > a {
    color: black;
}

.modal > button {
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgba(0, 0, 0, 0.449);
    font-size: 1em;
    padding: 2px 4px;
    background-color: rgba(250, 46, 46, 0.93);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.532);
    color: white;
    position: absolute;
    top: -27px;
    right: 3px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 350ms;
}

.modal>button:hover {
    background-color: red;
}